registry=https://testtodelete.pkgs.visualstudio.com/_packaging/Testpackages/npm/registry/
always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 7/3/2019.
; begin auth token
//testtodelete.pkgs.visualstudio.com/_packaging/Testpackages/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJhNzhmYTBmZC1iOWUwLTZmYWQtOTk4Yy1lNmIyZGJmNGFlMTAiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYTM2NTI0NjgtMGMzZS00ZDUxLTkxNDEtMzI2OTFhODUxMGE0Iiwic2lkIjoiMDI5YmU5MGUtZjg4OC00NjdhLWFlZjAtYjMyODg3OTczYjc4IiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOmJjODhlMjBmLWVlMmUtNDQyNS1iNTI4LTMyNWQ5ODBjYjQ4MyIsIm5iZiI6MTU1NDQxMTE3NywiZXhwIjoxNTYyMTg3Nzc3fQ.XU_wFDsqUlyXg-MG4RluXe5lr5E-3hPkmz0Xyx3LBquFvOogHBKB-y30JYBTTsBTNsLxyAyU9na2FFaXawkRvptyf6rSwtZ0eNAGflNp6T7KXPupIxvxPDPFPCqcHKn2mLOB1l-BylxEOogI_9aJ7sOrA_DZL-7Jb_Krm4IFjd1KNOZsqaIGKKdQ2ahoGAoCyV_jf5ADkbiOnXVj40XMRHtc1cSzXfZXXwq-9bHT0stCRV0MGWdkLoAse4IWXkwzgpP0ylWw9fE3iqzrCg8ed80RpvylDpYzCDEq_WKjVQ_9vc2lU7Buw6PHtXRGqFDXBqkBV0vG9hdsocDXD5GjvA
//testtodelete.pkgs.visualstudio.com/_packaging/Testpackages/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJhNzhmYTBmZC1iOWUwLTZmYWQtOTk4Yy1lNmIyZGJmNGFlMTAiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYTM2NTI0NjgtMGMzZS00ZDUxLTkxNDEtMzI2OTFhODUxMGE0Iiwic2lkIjoiMDI5YmU5MGUtZjg4OC00NjdhLWFlZjAtYjMyODg3OTczYjc4IiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOmJjODhlMjBmLWVlMmUtNDQyNS1iNTI4LTMyNWQ5ODBjYjQ4MyIsIm5iZiI6MTU1NDQxMTE3NywiZXhwIjoxNTYyMTg3Nzc3fQ.XU_wFDsqUlyXg-MG4RluXe5lr5E-3hPkmz0Xyx3LBquFvOogHBKB-y30JYBTTsBTNsLxyAyU9na2FFaXawkRvptyf6rSwtZ0eNAGflNp6T7KXPupIxvxPDPFPCqcHKn2mLOB1l-BylxEOogI_9aJ7sOrA_DZL-7Jb_Krm4IFjd1KNOZsqaIGKKdQ2ahoGAoCyV_jf5ADkbiOnXVj40XMRHtc1cSzXfZXXwq-9bHT0stCRV0MGWdkLoAse4IWXkwzgpP0ylWw9fE3iqzrCg8ed80RpvylDpYzCDEq_WKjVQ_9vc2lU7Buw6PHtXRGqFDXBqkBV0vG9hdsocDXD5GjvA
; end auth token