.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-left: 1px solid rgb(78, 78, 78);
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}
